
.title {
  margin-top: 40px;
  /*border: 5px dotted pink;*/
  text-align: left;
  font-size: 60px;
  padding-left:30px; 
}

.subtitle {
  margin-bottom:30px;
  margin-right:50px;
  /*border: 5px dotted pink;*/
  text-align: left;
  font-size: 15px;
  color: #A9A9A9;
  padding-left:40px; 
}

.button-more{
  padding-left:35px; 
}

.DottedBox_content {
  font-size: 15px;
  text-align: center;
}

.jumbotron{
margin-top: 50px

}

.img {
  display: block;
  margin-left: 0px;
  margin-top:50px;
  width: 100%;
}

.line-break{
  margin-top:100px;
  margin-bottom: 70px;
}

.carousel-top{
  margin-top:100px;
  margin-bottom: 70px;
}

.logo {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

